[submodule "plugins/Emacs-Smali"]
	path = plugins/Emacs-Smali
	url = https://github.com/strazzere/Emacs-Smali.git
[submodule "plugins/smart-mode-line"]
	path = plugins/smart-mode-line
	url = https://github.com/Malabarba/smart-mode-line.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "plugins/company-mode"]
	path = plugins/company-mode
	url = https://github.com/company-mode/company-mode.git
